.container{
    width: 550px;
    height:250px;
    margin: 50px 50px;
    border: 1px solid black;
    justify-content: center;
    
}
.full{
    display: flex;
    width: 500px;
    height:500px;
}

.col{
    display: grid;
    position: relative;
    top: 100px;
    
}

.dark{
    background-color: blue;
}