.mySwiper {
    width: 700px;
    height: 600px;
  }
  
  .mySwiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  @keyframes slideRightToLeft {
    from {
      transform: translateX(20%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  .offer-slider {
    width: 100%;
    background: #15803d; 
    color: white;
    overflow: hidden;
    padding: 10px 0;
    white-space: nowrap;
    position: relative;
  }
  
  .offer-track {
    display: flex;
    align-items: center;
    width: 200%; 
    animation: slideRightToLeft 10s linear infinite;
    will-change: transform;
  }
  
  .offer-item {
    font-size: 1.25rem;
    font-weight: bold;
    display: inline-block;
    min-width: 100%;
  }